
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                @*<li class="menu-title">Menu</li>*@
                <!--<li>
                    <a onclick="location.href='/'" class="waves-effect">
                        <i class="bx bx-book-open"></i>
                        <span>Bệnh án</span>
                    </a>
                </li>-->
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ol"></i>
                        <span>Danh mục</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/danhmucmau">Danh mục mẫu</a></li>
                        <!--<li><a href="#">Danh mục loại phiếu khám</a></li>
                        <li><a href="#">Danh mục loại phiếu chăm sóc</a></li>
                        <li><a href="#">Danh mục nhóm thông tin</a></li>
                        <li><a href="#">Danh mục loại thông tin</a></li>
                        <li><a href="/dmthongtin">Danh mục thông tin</a></li>
                        <li><a href="#">Danh mục giá trị</a></li>-->
                    </ul>
                </li>
                <!--<li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-check"></i>
                        <span>Thiết lập hệ thống</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#">Thiết lập loại thông tin - Bệnh án</a></li>
                        <li><a href="#">Thiết lập bệnh - Thông tin mẫu</a></li>
                        <li><a href="#">Thiết lập Loại phiếu khám - Thông tin mẫu</a></li>
                    </ul>
                </li>-->
                <li>
                    <a href="/quan-ly-tai-khoan"><i class="bx bx-user"></i><span>Quản lý tài khoản</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>